.main-main-container {
  padding-top: 10px;
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
  font-family: "Titillum Web", sans-serif;
  border-bottom: 1px solid white;
  z-index: 1;
}

.card {
  height: rem(440px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-size: cover;
  background-position: center;
}

.title {
  font-weight: 900;
  color: var(--mantine-color-white);
  line-height: 1.2;
  font-size: rem(32px);
  margin-top: var(--mantine-spacing-xs);
  cursor: default;
}

.category {
  color: var(--mantine-color-white);
  opacity: 0.7;
  font-weight: 700;
  text-transform: uppercase;
  cursor: default;
}

